.userLogin a:link {
    color: gray;
}

.navbar navbar-inverse {
    background-color: #9fd574;
}


.Conect {
    color: #9d9d9d;
}

.nav navbar-nav navbar-right, hellowUser {
    margin: auto;
    text-align:center;
}

.textbox {
    color: gray;
    border-radius:3px;
    padding-right: 10px;
    padding-top:10px;
}

/* FORM VALIDATION !!! */

:-moz-placeholder {
    color: #aaa;
}
 
:-webkit-input-placeholder {
    color: gray;
}

*:focus {
    outline: none;
    color: #aaa;
}

.contact_form h2, .contact_form label {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.form_hint, .required_notification {
    font-size: 11px;
}

.form_hint {
    position:absolute;
}

.contact_form h2 {
    margin: 0;
    display: inline;
}

.required_notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}

.contact_form input:focus {
    color:#28a8c4;
    border:none;
    box-shadow: 0 0 3px #aaa; 
}

.contact_form input {  
    height: 30px;
    padding: 8px; 
    border-radius:3px;
    border:1px solid #aaa;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
	-o-transition: padding .25s;
	transition: padding .25s;  
}

/* Button Style */

.contact_form button {
    margin-left: 5px;
}

.contact_form input.submitTop {
    color:#28a8c4;
    background-color: Transparent;
    background-repeat:no-repeat;
     border: 0px solid;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.submitTop submitTop:hover {
    outline:none;
}

button.submit {
    background-color: #356b0b;
    height: 30px;
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
    button.submit:active {
        border: 1px solid #20911e;
        box-shadow: 0 0 10px 5px #356b0b inset;
        -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
        -moz-box-shadow: 0 0 10px 5px #356b0b inset;
        -ms-box-shadow: 0 0 10px 5px #356b0b inset;
        -o-box-shadow: 0 0 10px 5px #356b0b inset;  
    }

.contact_form input:focus + .form_hint {display: inline;}
 /* change form hint color when valid */
.contact_form input:required:valid + .form_hint::before {color:#28921f;}



body > div {
    text-align: center;
    margin-top: 15px;
}

 /* when a field is considered invalid by the browser */
.contact_form input:focus:invalid, .invalidInput {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}

/* when a field is considered valid by the browser */
.contact_form input:required:valid, .validInput {
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.contact_form input:focus + .form_hint
 {display: inline;}
.contact_form input:required:valid + .form_hint
 {background: #28921f;} /* change form hint color when valid */
.contact_form input:required:valid + .form_hint::before
 {color:#28921f;} /* change form hint arrow color when valid */

div.signup {
    width:300px;
    margin: auto;
    border-style:solid;
    border-color:#aaa;
    background-color:white;
}

html {
    min-height: 100%;
    position: relative;
}

.linkBottom {    
   text-align: center;
   position: absolute;
   bottom: 0;
   left:0;
   overflow:hidden;   
   width: 100%;
}

    .linkb > span > a {
           color:#333;
    }

.glyphicon glyphicon-user {
    color:#356b0b;
}

/*.connect {
    color:#9fd574;
}*/

.connect:hover {
    color:#fff;
}

.contact_form_login {
    margin-right:25px;
}
.allBody {
    background-color:aliceblue;
}

/*.navbar-inverse .navbar-brand , .navbar-inverse .navbar-nav > li > a {
     color:green;
}*/

.navbar-inverse .navbar-brand , .navbar-inverse .navbar-nav > li > a, .connect {
     color:#28a8c4;
}

.hellowUser {
    color:white;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

.dropzone {
      width: 400px;
      background: none;
      border: none;
      text-align: center;
      margin: auto;       
}

.flowericon {
    background: no-repeat
        url(/Css/Images/flower.png);
    height:40px;
    width:40px;
    display:inline-block; 
    margin-top: 4px;

}

.files-list, .firstlist, .list {
    width: 300px;
    margin: auto;
    border:solid 1px #eee;
}

.search{   
    border-radius: 25px;
    border: solid 1px;
    width: 100%;
    padding: 7px 14px;
}

.sort{
    margin-top:15px;
    background-color: rgba(255, 255, 255, 0.55);
    border: none;
    border-radius: 30px;
}

.sort:hover {
  text-decoration: none;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

.carousel-inner {
    width: 200px;
    height:200px;
    margin:auto;
}

.name {
        text-align: left;
}

.size {
        text-align: right;
}

.modal-content {
    border: 2px solid red;
}

.modal-header, .close, .modal-footer, .modal-body{
    color:red;
}

.btn btn-default {
    background-color:red;
}

.rowprow {
    width:100%;
}

.productLeft, .productMiddle, .productRight  { 
    height:500px;
     float:left;
     width:33%;
}


.product {
    background-color: white;
    width: 300px;
    margin: auto;
    border: 1px none;
}

.imagepro {
    margin-top: 30px;
    width:250px;
    height: 200px;
}

.btnmoredetails {
    margin-top:30px;
     margin-bottom:30px;
}

.left {
    text-align:left;
    float:left;
}

.right {
    text-align:right;
    float:right;
}

.nameProduct {
    margin:20px;
}

