<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../Css/Images/Flowers/flower.png" alt="flower">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">See in full page</a> <a href="#" class="btn btn-default" role="button">Add To Bag</a></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
